
body{
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

.top-nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38,38,38);
    height: 80px;
    width: 100%;   
}



.logo{
    height: 80px;
    width: 80px;
    margin-left: 15px;
}

.main{
    max-height: 100vh;
    height: calc(100vh - 80px);
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.confirmation-panel{
    width: 1300px;
    height: 500px;
    border-right: 1px solid rgb(199, 199, 199);
    border-left: 1px solid rgb(199, 199, 199);
    border-radius: 20px;
    margin-top: 30px;
}

.ticket{
    font-family: serif;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    background-image: url('mapamundi.png');
    background-position: center;
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: lighten;
    background-size: 1300px 500px;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: 80px;
}

.ticket-main{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.ticket-header{
    position: relative;
    background-color: rgb(5, 145, 138);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bg-logo{
    margin: 5px 0 0 15px;
    background-color: white;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-logo img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: rgb(5, 145, 138);
}

.ticket-sidebar h3{
    margin-right: 30px;
}


.ticket-title{
    color: white;
    display: flex;
    font-size: 30px;
    padding-right: 20px;
    align-items: center;
    
}

h3{
    font-weight: 400;
    font-size: 22px;
    color: rgb(129, 129, 129);
}


.ticket-departure, .ticket-return{
    display: flex;
    align-items: center;
    margin-top: 80px;
    padding-left: 10px;
    width: 100%;
}

.ticket-return{
    margin-top: 40px;
}


.ticket-departure div, .ticket-return div, .passangers div, .cabin div{
    font-size: 22px;
    width: 20%;
}

.ticket-departure .confirmation-location,.ticket-return .confirmation-location{
    width: 80%;
    overflow-x: hidden;
}


.passangers div, .cabin div, .trip-type-confirmation div{
    display: flex;
    font-size: 22px;
    align-items: center;
    padding-bottom: 20px;
}


.ticket-sidebar h3{
    font-size: 18px;
    margin-bottom: 15px;
}


.ticket-footer{
    margin-top: auto;
    bottom: 0;
    height: 20px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(5, 145, 138);
}

.ticket-sidebar{
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ticket-sidebar:before{
    content: "";
    position: absolute;
    top    : 20px;
    height  : calc(100% - 40px);
    border-left: 2px dashed rgb(129, 129, 129);
} 
  

.sidebar-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.passangers{
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 20px;
}

.trip-type-confirmation{ 
    margin: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}



.cabin{
   margin-left: 20px;
}

.cabin div{
    display: flex;
    width: 100%;
}

.total-price{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-price div{
    border: 2px solid rgb(129,129,129);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 80%;
    height: 90%;
}

.total-price div span{
    font-size: 18px;
    color: rgb(129, 129, 129);
    display: flex;
    justify-content: center;
}

.message{
    margin-top: 50px;
    width: 1300px;
    height: 150px;
    color: rgb(5, 145, 138);
    font-size: 40px;
    font-weight: 300;
}


