body{
    align-items: center;
    margin: 0;
    background-repeat: no-repeat;
    width: 100vw;
    max-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url('aviaoBg.jpg');
    background-position: 0 -130px ;
}

.error-panel{
    display: none;
    position: absolute;
    border: 1px solid rgb(172, 172, 172);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 50%;
    right: 50%;
    height: 200px;
    width: 400px;
    z-index: 999;
    background-color: rgb(221, 221, 221);
}

.error-message{
    color: red;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-height: 100vh;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    
}

.top-nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38,38,38);
    height: 80px;
    width: 100%;   
}


.logo{
    height: 80px;
    width: 80px;
    margin-left: 15px;
}


.brand{
    left: 50%;
    text-align: center;
    margin-top: 80px;
}

.brand h1{
    color:rgb(5, 145, 138);
    font-size: 60px;
}

.panel{
    margin: 110px auto;
    height: 370px;
    width: 100%;
    max-width: 100vw;
    border: 1px solid rgb(199, 199, 199);
    margin-bottom: 100px;
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    backdrop-filter: blur(2rem);
}


.flex{
    display:flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px 300px 50px 300px;
}

.trip-type{
    color:rgb(102,102,102);
    font-size: 16px;
    border: 1px solid rgb(199, 199, 199);
    width: 100%;
    max-width: 180px;
    cursor: pointer;
}

#round-trip{
    background:rgb(5, 145, 138);
    color: white;
    border: 0px solid;
}

input{
    background: transparent;
    width: 100%;
    max-width: 800px;
    height: 40px;
    padding-left: 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-left: 10px;
    outline: none;
    position: relative;
}

input[type='text']{
    max-width: 800px;
}


.error-input-message{
    display: none;
    width: 390px;
    height: 20px;
    margin-left: 20px;
    margin: 0;
    background: transparent;
    color: red;
    position: absolute;
    margin-top: 45px;
    font-size: 12px;
    text-align: start;
}

#destination-error-message{
    right: 20px;
}

#return-date-error-message{
    right: 30px;
}

#adult-amount-error-message{
    margin-top: 70px;
    width: 300px;
    margin-left: 112px;
}

.suggestions{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 45px;
    height: 150px;
    width: 100%;
    max-width: 1000px;
    z-index: -1;
}

#departure-suggestion, #destination-suggestion{
    border-bottom: 1px solid rgb(199, 199, 199);
    height: 100%;
    overflow-y: auto;
    background-color: rgb(250,250,250);
    
}

#departure-suggestion{
    float: left;
}

#destination-suggestion{
    float: right;
}

#departure-suggestion .card, #destination-suggestion .card{
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 40px;
    cursor: pointer;
    padding-left: 3px;
    border-bottom: 1px solid rgb(199, 199, 199);
}

#departure-suggestion .card:hover{
    background-color: white;
    transform: translateY(-5px);
    box-shadow: 3px 0 5px rgb(199, 199, 199);
}

#destination-suggestion .card:hover{
    background-color: white;
    transform: translateY(-5px);
    box-shadow: 3px 0 5px rgb(199, 199, 199);
}

.location-suggestion::-webkit-scrollbar {
    width: 8px; 
}

.location-suggestion::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
} 


.search-location{
    cursor: pointer;
}

.location-suggestion{
    border: 1px solid rgb(129, 129, 129);
    font-size: 11px;
    width: 100%;
    max-width: 410px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(129, 129, 129);
    z-index: 9;
}

#search-departures, #search-destinations{
    display: block;
    font-size: 20px;
    padding-top: 15px;
    z-index: 9;
    border-bottom: 1px solid rgb(199, 199, 199);
    margin: 0;
}


.text-suggestion{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 410px;
    height: 30px;
}

.icon{
    padding-top: 15px;
}

.flight-info{
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

.location{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
}

.date{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.date-picker{
    font-family: 'Open Sans', sans-serif;
    color: rgb(129, 129, 129);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.3);
    cursor: pointer;
}


.child-adult{
    display: flex;
    margin: 20px 0 20px 0;
    font-size: 14px;
    z-index: 9;
}

button{
    cursor: pointer;
}

.amount{
    display: flex;
    border: 1px solid rgb(129, 129, 129);
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    color: rgb(5, 145, 138);
    border: 1px solid rgb(129, 129, 129);
    font-size: 16px;
}

.child-adult{
    color:rgb(102,102,102);
}

.adults{
    display: flex;
    justify-content: center;
    align-items: center;
}

.childs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}


.decrease{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 37px;
    border: 1px solid rgb(5, 145, 138);
    background-color: transparent;
    margin-left: 10px;
    color:rgb(102,102,102);
    border: 1px solid rgb(129, 129, 129);
    border-right: none;
}

.increase{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 37px;
    background-color: transparent;
    color:rgb(102,102,102);
    border: 1px solid rgb(129, 129, 129);
    border-left: none;
}

.cabins{
    height: 50px;
    width: 300px;
    margin-top: 10px;
    display: flex;
}

#economic{
    border:2px solid transparent;
    box-shadow:0 0 0 1px rgb(1, 110, 105);
    appearance:none;
    border-radius: 50%;
    width:15px;
    height:15px;
    background-color: transparent;
    transition:all ease-in 0.2s;
  
  }
  #economic:checked{
    background-color: rgb(1, 110, 105);
  }
  #first-class{
    border:2px solid transparent;
    box-shadow:0 0 0 1px rgb(1, 110, 105);
    appearance:none;
    border-radius:50%;
    width:15px;
    height:15px;
    background-color:transparent;
    transition:all ease-in 0.2s;
  
  }
  #first-class:checked{
    background-color:rgb(1, 110, 105);
  }

label{
    padding-left: 10px;
    color: rgb(102, 102, 102);
    cursor: pointer;
}

.radio-control{
    width: 100%;
    display: flex;
}
    
#first-class{
    margin-left: 40px;
}

.footer-panel{
    display: flex;
    justify-content: space-between;
}

.book-flight{
    cursor: pointer;
    display: flex;
    font-size: 22px;
    color: white;
    height: 60px;
    width: 300px;
    background-color: rgb(5, 145, 138);
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    box-shadow: 1px 1px 3px rgb(129, 129, 129);
}

.book-flight:hover{
    background-color: rgb(1, 110, 105);
    transition: 0.2s ease-in-out;
}

.material-icons{
    color:rgb(102,102,102);
    margin: 0 60px 0 60px;
    padding-bottom: -20px;
}

/*.main{
    padding: 20px 10px 20px 10px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}*/

img{
    opacity: 1;
    height: 300px;
    width: 300px;
}


.loader {
    cursor: default;
    margin: 0;
    padding: 0;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid rgb(5, 145, 138); /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    max-height: 20px;
    animation: spin 2s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }








